.cart {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cartIcon {
  cursor: pointer;
  margin: 2rem;
}

.cartTitle {
  font-size: 1.84rem;
  font-weight: 700;
}

.cartText {
  font-size: 1.5rem;
  font-weight: 700;
  display: none;
}

.cartActive {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  min-height: 100vh;
  background-color: #fff;
}

.cartContainer {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}

.cartActive .cartIcon {
  cursor: unset;
  margin-left: 2rem;
}

.cartHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cartHeader > div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.closeButton {
  cursor: pointer;
  margin-right: 2rem;
}

.cartItems {
  width: 100%;
  margin: 0 auto;
  height: 34rem;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.cartItem {
  width: 100%;
  background-color: var(--color-lighter-grey);
  display: flex;
  border-radius: 8px;
  box-shadow: 1px 2px 8px rgba(127, 127, 127, 0.25);
}

.cartItem:hover {
  box-shadow: 1px 2px 16px rgba(127, 127, 127, 0.3);
}

.cartItemImage {
  width: 35%;
  aspect-ratio: 3/4;
  object-fit: cover;
  border-radius: 8px 0 0 8px;
}

.cartItemDetails {
  width: 65%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cartItemTitleAndRemoveBtn {
  display: flex;
  justify-content: space-between;
}

.cartItemTitle {
  color: var(--color-blue);
  font-weight: 700;
  font-size: 1.89rem;
}

.cartItemRemoveBtn {
  cursor: pointer;
}

.cartItemQuantityAndPrice {
  display: flex;
  align-items: center;
}

.cartItemQuantity {
  border-radius: 8px;
  padding: 0.8rem;
  background-color: #fff;
  border: 1px solid var(--color-blue);
}

.cartItemQuantity select {
  outline: none;
  border-radius: 8px;
  padding: 0.2rem;
  background-color: #fff;
  font-size: 1.84rem;
  border: none;
}

.cartItemPrice {
  font-size: 2.03rem;
  font-weight: 700;
  margin-left: 2rem;
}

.currency {
  font-size: 1.35rem;
}

.cartItemsSubtotalDiv {
  margin: 4rem 1rem;
}

.cartItemsSubtotalTitle {
  font-weight: 600;
  font-size: 1.35rem;
  color: var(--color-light-grey);
}

.cartItemsSubtotalPrice {
  font-weight: 700;
  font-size: 3.2rem;
}
.cartItemsSubtotalPrice .currency {
  font-size: 1.89rem;
}

.checkoutBtn {
  cursor: pointer;
  padding: 2rem;
  margin: 2rem 0;
  font-size: 1.84rem;
  font-weight: 700;
  color: #fff;
  background-color: var(--color-blue);
  border: none;
  border-radius: 8px;
}

.modalContentContainer {
  padding: 4rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.modalTitleAndCloseBtn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0;
}

.modalTitleAndCloseBtn h1 {
  font-size: 3.2rem;
}

.modalCloseBtn {
  cursor: pointer;
}

.modalParagraph {
  margin: 1rem 0;
  margin-right: 40%;
  font-size: 1.35rem;
  color: var(--color-light-grey);
}

.checkoutFormGroup {
  display: flex;
  flex-direction: column;
}

.checkoutFormGroup:nth-of-type(7) {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  margin: 2rem 0;
}

.checkoutFormGroup input {
  width: 100%;
  margin: 0 0 2rem 0;
  padding: 1rem;
  border: none;
  border-bottom: 2px solid var(--color-light-grey);
  color: var(--color-light-grey);
  font-size: 1.84rem;
}

.datepicker-toggle {
  position: relative;
}

.datepicker-toggle-button {
  position: absolute;
  left: 0;
  top: 10px;
  width: 2.4rem;
  height: 2.4rem;
  background-image: url("../../assets/images/svg/calendar-icon.svg");
}

#birthDate {
  padding-left: 3rem;
}

#birthDate::-webkit-calendar-picker-indicator {
  position: absolute;
  left: 0;
  top: 10px;
  width: 2.4rem;
  height: 2.4rem;
  opacity: 0;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.checkoutFormGroup input[type="checkbox"] {
  margin: 0;
  width: 3.2rem;
  height: 3.2rem;
}

.checkoutFormGroup input:defined {
  color: var(--color-black);
}

.checkoutFormGroup select {
  margin: 0 0 1rem 0;
  padding: 1rem;
  border: none;
  border-bottom: 2px solid var(--color-light-grey);
  font-size: 1.84rem;
  color: var(--color-light-grey);
  background-color: #fff;
}
.checkoutFormGroup select:defined {
  color: var(--color-black);
}

.checkoutFormGroup input:focus {
  outline: none;
  border-bottom: 2px solid var(--color-blue);
}

.checkoutFormGroup select:focus {
  outline: none;
  border-bottom: 2px solid var(--color-blue);
}

.checkoutFormGroup label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.35rem;
  font-weight: 600;
}

.error {
  margin-left: 2rem;
  font-size: 1.5rem;
  text-align: center;
  color: red;
}

.checkoutFormBtn {
  cursor: pointer;
  width: 100%;
  padding: 2rem 4rem;
  border: none;
  font-size: 1.84rem;
  font-weight: 700;
  background-color: var(--color-yellow);
  border-radius: 8px;
  margin-top: 3rem;
}

.thanksContainer {
  padding: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  min-height: 100vh;
}

.thanksHeading {
  font-size: 3.2rem;
  margin: 1rem 0;
}

.thanksParagraph {
  font-size: 1.35rem;
  font-weight: 600;
  margin-right: 10rem;
  color: var(--color-light-grey);
}

.thanksBtn {
  margin-bottom: 5rem;
  margin-top: 30vh;
  padding: 2rem 4rem;
  border: none;
  border-radius: 8px;
  background-color: var(--color-yellow);
  font-size: 1.84rem;
  font-weight: 700;
  cursor: pointer;
}

@media screen and (min-width: 800px) {
  .cart {
    margin-right: 15rem;
  }

  .cartIcon {
    margin: 3rem 1rem;
    margin-left: 1rem;
  }

  .cartIconDiv {
    position: relative;
  }

  [data-cartitems]::after {
    content: "";
    position: absolute;
    top: 35%;
    right: 20%;
    display: inline-block;
    width: 1rem;
    height: 1rem;
    background: var(--color-blue);
    border-radius: 50%;
  }

  .cartTitle {
    font-size: 2.3rem;
  }

  .cartText {
    display: inline-block;
  }

  .cartActive {
    width: 38rem;
  }

  .currency {
    font-size: 1.5rem;
  }

  .flex {
    display: flex;
    justify-content: flex-start;
    gap: 4rem;
  }

  .checkoutFormBtn {
    width: auto;
  }

  .thanksContainer {
    padding: 6rem;
    min-height: 0;
    margin-right: 30%;
  }

  .thanksBtn {
    margin-bottom: 2rem;
    width: 20rem;
    padding: 2rem 3rem;
    margin-top: 4rem;
    font-size: 1.84rem;
    font-weight: 700;
    cursor: pointer;
  }
}
