.categoryHeading {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: var(--color-blue);
}

.categoryHeadingActive {
  display: none;
}

.arrow {
  cursor: pointer;
  margin: 3rem 0 1rem 0;
}

.categoryHeading h5 {
  cursor: pointer;
  margin: 3rem 0 1rem 0;
}

.categorySelection {
  display: none;
}

.categorySelectionActive {
  display: block;
}

.categorySelection h6,
.categorySelectionActive h6 {
  margin-left: 3.8rem;
  color: var(--color-light-grey);
}

form {
  margin: 2rem 0;
}

.formGroup,
.formGroupActive {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.formGroup input,
.formGroupActive input {
  appearance: none;
}

.formGroup label,
.formGroupActive label {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
}

.formGroup:first-child,
.formGroupActive:first-child {
  padding-left: 32px;
}

.formGroup h5,
.formGroupActive h5 {
  margin: 1rem;
  border-bottom: 2px solid transparent;
}

.formGroupActive h5 {
  color: var(--color-blue);
  border-bottom: 2px solid var(--color-blue);
}

@media screen and (min-width: 800px) {
  .categoryHeading {
    display: none;
  }

  .categorySelection {
    display: block;
  }
}
