.categoryHeading {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: var(--color-blue);
}

.categoryHeadingActive {
  display: none;
}

.arrow {
  cursor: pointer;
  margin: 3rem 0 1rem 0;
}

.categoryHeading h2 {
  font-size: 1.84rem;
  cursor: pointer;
  margin: 3rem 0 1rem 0;
}

.categorySelection {
  display: none;
}

.categorySelectionActive {
  display: block;
  margin-top: 5rem;
}

aside .subtitle {
  margin-left: 5rem;
}

.categorySelection h6,
.categorySelectionActive h6 {
  margin-left: 3.8rem;
  color: var(--color-light-grey);
}

form {
  margin: 2rem 0;
}

@media screen and (min-width: 800px) {
  .categoryHeading {
    display: none;
  }

  .categorySelection {
    display: block;
  }
}
