.loadMoreBtn {
  all: unset;
  cursor: pointer;
  display: block;
  margin: 3rem auto;
  font-size: 1.84rem;
  font-weight: 700;
  border-bottom: 2px solid var(--color-blue);
}

@media screen and (min-width: 1440px) {
  .workshopList {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }
}
