article {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  margin: 2rem 0;
  border-radius: 8px;
  position: relative;
  box-shadow: 1px 2px 8px rgba(127, 127, 127, 0.25);
}

article:hover {
  box-shadow: 1px 2px 16px rgba(127, 127, 127, 0.3);
}

.workshopDetails {
  width: 100%;
  margin-left: 2rem;
}

.dateAndTime {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.dateAndTime h6 {
  display: flex;
  align-items: flex-end;
  margin: 3rem 0 1rem 0;
}

.date {
  padding-right: 1.5rem;
}

.workshopTitle {
  cursor: pointer;
  color: var(--color-blue);
}

.workshopCoverDiv {
  position: relative;
  cursor: pointer;
  width: 35%;
}
.workshopCoverImage {
  aspect-ratio: 3/4;
  object-fit: cover;
  object-position: 35%;
  border-radius: 8px 0 0 8px;
  height: 100%;
}

.categoryLogo {
  position: absolute;
  top: 10%;
  right: -16px;
  border-radius: 8px;
}

.workshopPriceAndBtn {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 1rem 0;
}

.workshopPrice {
  margin: 0.5rem 0;
}

.workshopCartIcon {
  cursor: pointer;
  background-color: var(--color-yellow);
  padding: 0.4rem;
  margin: 1rem 3rem;
  border-radius: 4px;
}

.loadMoreBtn {
  all: unset;
  cursor: pointer;
  display: block;
  margin: 3rem auto;
  font-size: 1.84rem;
  font-weight: 700;
  border-bottom: 2px solid var(--color-blue);
}

.addToCartBtn {
  display: none;
}

@media screen and (min-width: 1440px) {
  .workshopList {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }

  article {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
  }

  .workshopCart {
    display: none;
  }

  .workshopDetails {
    margin-left: 0;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
  }

  .workshopCoverDiv {
    width: 100%;
  }
  .workshopCoverImage {
    aspect-ratio: 16/9;
    border-radius: 8px 8px 0 0;
  }

  .categoryLogo {
    right: 16px;
    top: 90%;
    border-radius: 8px;
  }

  .workshopPriceAndBtn {
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    margin: 0;
    margin-top: auto;
  }

  .workshopPrice {
    margin: 1rem 0 2rem 0;
  }

  .workshopCartIcon {
    margin: 0;
    margin-bottom: 2rem;
    width: 100%;
    padding: 1.5rem 2rem;
    align-self: flex-start;
  }

  .addToCartBtn {
    all: unset;
    cursor: pointer;
    text-align: center;
    width: 100%;
    display: block;
    font-size: 1.8rem;
    font-weight: 700;
  }
}
