body {
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 200;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal {
  width: 100%;
  height: auto;
  background-color: #fff;
  border-radius: 8px;
}

@media screen and (min-width: 800px) {
  .modal {
    width: 57rem;
    margin: 6rem auto;
  }
}
