header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-light-yellow);
}

.logo {
  cursor: pointer;
  width: 9rem;
  height: auto;
  margin: 1rem;
}

@media screen and (min-width: 800px) {
  .logo {
    width: 10.5rem;
    margin: 2rem;
    padding: 0;
  }
}
